@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Events Organizer</h1>
</div>
<div class="row">
    <div class="col-md-8" align="left">
        <h2>Welcome to Events Organizer</h2>
        <p>
            Modern Web Application with technologies used:
        </p><p></p>
        <p>ASP .NET CORE</p>
        <p>Entiry Framework Core</p>
        <p>And more</p>
    </div>
</div>